@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* variables */
:root{
  --green-color: #419141 ;
  --green-button-radius-color: #7abb87;
  --pading-button: 10px;
}
html, body{
  padding: 0;
  margin: 0;
  /* font-size: var(--normal); */
  font-family: 'Open Sans', sans-serif;
}
nav{
  /* flex nos ayuda a pasar elementos de vertical a horizontal */
  display: flex;
  background-color: white;
  padding: 15px;
  color:black;
  justify-content: space-between;
  /* aling alinea hacia el centro vertical los elementos */
  align-items: center;
  font-family: 'Roboto';
}
footer{
  background-color: black;
}
.navImg{
  /* border: 1px solid red; */
  max-width: 200px;

}
.fadeInDown{
  /* border: 1px solid red; */
  align-items: center;
}
.nav_options{
  display: flex; 
}
.options{
  padding-left: 20px;
  list-style: none;
}
.fadeInDown a:hover {
  /* background-color: lightgray; */
  color:#419041;
}
.fadeInDown ul li ul {
  display: none;
}
.fadeInDown ul li a:hover + ul, .fadeInDown ul li ul:hover {
  font-size: 16px;
  position: absolute;
  display: table;
  line-height: 22px;
  /* padding: 14px 16px; */
}
.subOptions{
  width: 90px;
  height: 50px;
  background: #dcdcdc;
}
.hero{
  /* border:1px solid red; */
  display: grid;
  padding: 5px;
  justify-content: center;
  grid-template-columns: minmax(auto,100%);
}
.form button{
  background: var(--green-color);
  color: white;
  padding: var(--pading-button);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  border: 2px solid var(--green-button-radius-color);
  display: inline-block;
}
.form button:hover{
  color: black
}
.title{
  font-size: 36px;
  margin: 0;
  justify-content: center;
  font-weight: normal;
  display: flex;
  align-items: center;
}
.contraseñas{
  display: grid;
  justify-content: center;
  grid-row: repeat(5,200px);
  grid-gap: 5px;
}
.botonContra{
  width: 100%;
}
.dropdown-content{
  width: max-content !important;
  height:auto !important;
  color: black !important;
}

.button-container{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.button-type{
  width: 30%;
  margin: 1%;
}

.button-image{
  height: 20%;
  width: 20%;
  border: 2px solid var(--green-button-radius-color);
  background: var(--green-color);
  border-radius: 5px;
}

.tImagen{
  width: 100px;
  height: 100px;
}
.logo{
  width: 300px;
  height: 300px;
}

.pImagen{
  width: 200px;
  height: 300px;
}
.text-error{
  color:red;
}


@media screen and (max-width: 768px) {
  .pImagen{
    width: 183px;
    height: 183px;
  }
}