/* Utilities */
.bg-main { background-color: #419142 !important; color: white !important; }
.color-main { color: #419142 !important; }
.big-size { font-size: 4em !important; }
.p-0 { padding: 0px !important; }
.p-1 { padding: 10px !important; }
.p-3 { padding: 30px !important; }
.py-1 { padding-top: 10px !important; padding-bottom: 10px !important;  }
.pl-3 { padding-left: 30px !important; }
.px-2 { padding-left: 20px !important; padding-right: 20px !important; }
.m-0 { margin: 0px !important; }
.ml-1 { margin-left: 10px !important; }
.mt-0 { margin-top: 0px !important; }
.mt-2 { margin-top: 20px !important; }
.mb-2 { margin-bottom: 20px !important; }
.mb-0 { margin-bottom: 0px !important; }
.bold { font-weight: bold !important; }
.shadow { text-shadow: 0px 0px 1px black !important; }
.text-right { text-align: right !important; }
.border { border: 2px solid #419142 !important; }


/* Materialize customized */
#search { height: fit-content; }
#search-1 { height: fit-content; padding: 0 50px !important; max-width: 55vw !important; }
nav { box-shadow: none; -webkit-box-shadow: none; }
.carousel-fixed-item { top: 44%; }
.indicators .indicator-item { width: 15px !important; height: 15px !important; }
.page-footer { background-color: #419142 !important; }
.breadcrumb , .breadcrumb:last-child { color: #419142 !important; }
.breadcrumb:before { color: black; }
.breadcrumb:first-child { padding-left: 20px !important; }
.breadcrumb:last-child { padding-right: 20px !important; }
.collection a { display: block; padding: 5px 0px 5px 20px; }

/* Materialize + Custom */
#Productos .card 
{
     overflow: visible;
     -webkit-box-shadow: none !important; 
     box-shadow: none !important;  
}
#Productos .card .card-content { padding: 10px 20px; }
#Productos .card .card-action { border: none !important; }
#Productos .card .card-image img { padding: 20px !important; }

.pagination li.active {
    background-color: #419141 !important;
}


/* Custom */
.nav-2 { position: absolute; }
.espace-top { margin-top: 65px; }
#services-main { padding: 0px 10%; }
main { 
    margin: 5%;
    padding: 10px 30px; 
}

.select-tienda-index{
  position: absolute !important; 

}
.main_section{
    text-align: center;
}

.hero{
    background-size: cover;
    background-position: center top ;
    padding: 5% 15%;
    display: flex;
}
.sliders-inicio{
    z-index: 0;
}

.section_sucursales{
    border-top: 1px solid #419142;
    padding: 5%;
}
.section_sucursal{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
}
.section_sucursal .section_sucursal_content{
    /* border: 2px solid red; */
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    box-shadow: 0 0 2px #419142;
}

.section_title{
    text-align: center;
    
}
.container-contacto{
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". title"
                         "map sucursales"
                         "map form";
    width: 100%;
    height: auto;
}


.title-contacto{
    grid-area:title;
    display: grid;
    justify-items: center;
    align-content: center;
    font-size: 20px;
}

.map-contaider{
    grid-area: map;
}

.map{
    width: 100%;
    height: 100%;
}

.container-text{
    grid-area: sucursales;
    color: #767676;
    display: inline-table;
    justify-content: center;
}

.container-form{
    grid-area: form;
}
.title-contactos{
    font-size: 16px;
}

.from-button{
    display: grid;
    justify-content: center;

}

.pImagen-carrito{
    width: 120px ;
    height:70px ;
}

  .pImagen{
   z-index:0;
    width: 200px ;
    height: 200px;
  }
#select-cantidad{
    width: 100%;
}

.hero-container-main{
    border: 1px solid #419142;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "title resumen"
                         "pago resumen"
                         "entrega carrito"
                         /* "botonP carrito"*/; 
    grid-gap: 10px;
    padding: 10px
}

.container-main-order{
    display: flex;
    grid-area:title;
    align-items: center;
}

.container-main-order img{
    width: 10%;
    height: 10%;
    margin: 0 10px;
}

.container-resumen-order{
    grid-area: resumen;
    
}

.container-resumen-order .title {
    /* border: 1px solid; */
    margin: 0;
    display: flex;
    justify-content: center;
}

.order-content{
    margin: 5%;  
}

.order-content .pading{
    /* border:1px solid */
    padding: 10px;
}

.centrar{
  margin-left: 30% !important;
}
.container-metodo-entrega{
    grid-area: entrega;
}

.container-metodo-entrega form{
    display: flex;
}

/* .container-metodo-tienda{
    grid-area: tienda;
} */

.container-metodo-pago{
    grid-area: pago;
}

.container-metodo-pago form{
    display: flex;
}

.container-metodo-button{
    /* grid-area: botonP; */
    justify-content: center; 
    display: flex;
    margin-top: 5%;
}

.container-carrito{
    grid-area: carrito;
}

.container-carrito .title{
    /* border: 1px solid; */
    margin: 0;
    display: flex;
    justify-content: center;
}

.contenedor-carrito-pro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}


.collection-items{
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-carrito .image-item{
    width: 113.797px;
    height: 62.125px ;
}

.content-carrito{
    height: 100px;
}

/*  */

nav div ul li a {
    color: black;
}
.dropdown:hover .dropbtn {
    z-index:2;
    color: white;
    background-color: #419142;
}
.dropdown-content-custom {
    left: 0;
    z-index: 2;
    width: 100%;
    display: none;
    position: absolute;
    background-color: whitesmoke;
    transition: display 5s linear;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content-custom .header {
    padding: 16px;
    color: white;
    background-color: #419142;
}
.dropdown-content-custom .header h5 {
    margin: 10px 0px !important;
}
.dropdown-content-custom .title {
    color: #419142;
}
.dropdown-content-custom .border {
    border-top: none;
    border: 5px #419142 solid;
}
.dropdown:hover .dropdown-content-custom {
    display: block;
}
/*  */

.contraseñas{
    display: grid;
    justify-content: center;
    grid-row: repeat(5,200px);
    grid-gap: 5px;
  }

  .linea{
    border-right: 1px #419142 solid;
    height: 32px;
    margin-top: 3%;
}

.alinear{
    align-items: center !important;
}
@media (max-width: 958px){
  

    .pImagen-carrito{
        width: 120px;
        height: 70px;
    }
    .contenedor-carrito{
        margin: 15%;
    }

    table.responsive-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: grid;
        position: relative;
    }
    .content-carrito{
        height: 0px;
    }
}


@media screen and (max-width: 507px) {
    .centrar{
        margin-left: 0% !important;
      }
    .pImagen-carrito{
        width: 50px;
        height: 100%;
    }
    
    .contorno{
        border-bottom: 1px solid #7e7b7b;
    }

    #listaproductos{
        border-bottom: 1px solid #777474;
    }

    .container-contacto{
    grid-template-columns: 1fr ;
    grid-template-areas: "title"
                            "map"
                            "map"
                            "sucursales"
                            "form";
    }

    .hero-container-main{
        border: 1px solid #419142;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "title"
                             "pago"
                             "entrega"
                             /* "tienda " */
                             /* "botonP " */
                             "resumen"
                             "carrito";
        grid-gap: 10px;
        padding: 10px;
        margin-top: 15%;
    }

    .pImagen{
        width: 183px !important;
        height: 183px !important;
      }

    .tamaImagen{
        width: 65%;
        margin-left: 5px;
        margin-right: 0px;
        float: left;
        box-sizing: border-box;
        padding: 0 .75rem;
        min-height: 1px;
        
    }

    .tamaLetras{
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1px;
        font-size: 9px;
    
    }
}

@media (max-width:350px){
    .section_sucursal {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contenedor-carrito {
        margin: 15%;
    }
}


