@font-face { 
    font-family: 'Open Sans', sans-serif; 
    src: url('../font/OpenSand-BoldItalic.ttf'); 
} 
  
/* Utilities */
.bg-main { background-color: #419142 !important; color: white !important; }
.color-main { color: #419142 !important; }
.big-size { font-size: 4em !important; }
.p-0 { padding: 0px !important; }
.p-1 { padding: 10px !important; }
.p-3 { padding: 30px !important; }
.py-1 { padding-top: 10px !important; padding-bottom: 10px !important;  }
.pl-3 { padding-left: 30px !important; }
.px-2 { padding-left: 20px !important; padding-right: 20px !important; }
.m-0 { margin: 0px !important; }
.ml-1 { margin-left: 10px !important; }
.mt-0 { margin-top: 0px !important; }
.mt-2 { margin-top: 20px !important; }
.mb-2 { margin-bottom: 20px !important; }
.mb-0 { margin-bottom: 0px !important; }
.bold { font-weight: bold !important; }
.shadow { text-shadow: 0px 0px 1px black !important; }
.text-right { text-align: right !important; }
.border { border: 2px solid #419142 !important; }


/* Materialize customized */
#search { height: fit-content; }
#search-1 { height: fit-content; padding: 0 50px !important; max-width: 55vw !important; }
nav { box-shadow: none; -webkit-box-shadow: none; }
.carousel-fixed-item { top: 44%; }
.indicators .indicator-item { width: 15px !important; height: 15px !important; }
.page-footer { background-color: #419142 !important; }
.breadcrumb , .breadcrumb:last-child { color: #419142 !important; }
.breadcrumb:before { color: black; }
.breadcrumb:first-child { padding-left: 20px !important; }
.breadcrumb:last-child { padding-right: 20px !important; }
.collection a { display: block; padding: 5px 0px 5px 20px; }

/* input[type=search]:not(.browser-default){
    margin: 0 20px 18px 0 !important;
} */

/* footer */
.icons-footer{
    width: 25px;
    height: 25px;
  }
.icons-content-footer{
    justify-content: center;
    align-content: center;
    display: flex;
}  
/* Materialize + Custom */
#Productos .card 
{
     overflow: visible;
     -webkit-box-shadow: none !important; 
     box-shadow: none !important;  
}
#Productos .card .card-content {  padding: 10px 20px; }
#Productos .card .card-action { border: none !important; }
#Productos .card .card-image img { padding: 20px !important; }

.pagination li.active {
    background-color: #419141 !important;
}
/* nav inicio principal */

.nav-principal-inicio{
    background-color: white;
    align-content: center;
    justify-content: center;
    
}

.buscador-carrito{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* search */

#input-search-nav{
    align-self: end; 
    border-bottom: 1px transparent;
    height: 39px;
}

.main-input-container{
    width: 340px;
    border-radius: 100px;
    border: 1px solid #616161;
    margin-top: 1%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* categorias-icons */

.container-categorias-icons{
    display: flex;
}

.categorias-icons{
    width: 16.66%;
    display: grid;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* cintilla */
.color-cintilla{
    background-color: #419142;
}
.cintilla-text{
    color: #fff;
    font-weight: bold;

}

/* nuevos productos */
.section-contianer-new-produc{
    padding: 0 10%;
}

.section-contianer-new-produc .container-card{
    width: 33%;
    display: inline-flex;


}

.section-contianer-new-produc .container-card img{
    height:150px !important;
}


/* Custom */
.nav-2 { position: absolute; }
.espace-top { margin-top: 65px; }
#services-main { padding: 0px 10%; }
 main{ 
    margin-top: 5%;
} 
.main-index{ 
    padding-top: 10px ;
}

.letraTN{
    font-size: 19px ;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-content: center;

}
.container-img-select{
    /* border: 1px solid red; */
    position: absolute;
    display: flex;
    height: inherit;
}
/* .select-tienda-index{
  position: absolute !important; 

} */

.main_section{
    text-align: center;
}

.hero{
    background-size: cover;
    background-position: center top ;
    padding: 5% 15%;
    display: flex;
}
.sliders-inicio{
    z-index: 0;
}

/* carucel */
.container-prob-inicio{
    margin: 0 5%;
}

.section_title{
    text-align: center;
    
}
.container-contacto{
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". title"
                         "map sucursales"
                         "map form";
    width: 100%;
    height: auto;
}


.title-contacto{
    grid-area:title;
    display: grid;
    justify-items: center;
    align-content: center;
    font-size: 40px;
    color: #419142;
}

.map-contaider{
    grid-area: map;
}

.map{
    width: 100%;
    height: 100%;
}

.container-text{
    grid-area: sucursales;
    color: #767676;
    display: inline-table;
    justify-content: center;
}

.container-form{
    grid-area: form;
}

.title-contactos{
    font-size: 16px;
}

.from-button{
    display: grid;
    justify-content: center;

}

/* quienes somos */
.quienesSomos{
    font-size: 18px;
}

.section_sucursales{
    padding: 5%;
}
.section_sucursal{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
}
.section_sucursal .section_sucursal_content{
    margin: 10px;
    padding: 10px;
    /* font-size: 12px; */
    box-shadow: 0 0 2px #419142;
}

.pImagen-carrito{
    width: 120px ;
    height:70px ;
}

.pImagen{
    z-index:0;
    width: 200px ;
    height: 200px;
}

#select-cantidad{
    width: 100%;
}

.hero-container-main{
    border: 1px solid #419142;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "title resumen"
                         "entrega resumen"
                         "pago carrito"
                         /* "botonP carrito"*/; 
    grid-gap: 10px;
    padding: 10px
}

.container-main-order{
    display: flex;
    grid-area:title;
    align-items: center;
}

.container-main-order img{
    width: 10%;
    height: 10%;
    margin: 0 10px;
}

.container-resumen-order{
    grid-area: resumen;
    
}

.container-resumen-order .title {
    /* border: 1px solid; */
    margin: 0;
    display: flex;
    justify-content: center;
}

.order-content{
    margin: 5%;  
}

.order-content .pading{
    /* border:1px solid */
    padding: 10px;
}

.centrar{
  margin-left: 30% !important;
}

.container-metodo-entrega{
    grid-area: entrega;
}

.container-metodo-entrega form{
    display: flex;
}

/* .container-metodo-tienda{
    grid-area: tienda;
} */

.container-metodo-pago{
    grid-area: pago;
}

.container-metodo-pago form{
    display: flex;
}

.container-metodo-button{
    /* grid-area: botonP; */
    justify-content: center; 
    display: flex;
    margin-top: 5%;
}

.container-carrito{
    grid-area: carrito;
}

.container-carrito .title{
    /* border: 1px solid; */
    margin: 0;
    display: flex;
    justify-content: center;
}

.contenedor-carrito-pro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}


.collection-items{
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-carrito .image-item{
    width: 113.797px;
    height: 62.125px ;
}

.content-carrito{
    height: 200px;
}

/*  */

nav div ul li a {
    color: black;
}
.dropdown:hover .dropbtn {
    z-index:2;
    color: white;
    background-color: #419142;
}
.dropdown-content-custom {
    left: 0;
    z-index: 2;
    width: 100%;
    display: none;
    position: absolute;
    background-color: whitesmoke;
    transition: display 5s linear;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content-custom .header {
    padding: 16px;
    color: white;
    background-color: #419142;
}
.dropdown-content-custom .header h5 {
    margin: 10px 0px !important;
}
.dropdown-content-custom .title {
    color: #419142;
}
.dropdown-content-custom .border {
    border-top: none;
    border: 5px #419142 solid;
}
.dropdown:hover .dropdown-content-custom {
    display: block;
}
/*  */

.contraseñas{
    display: grid;
    justify-content: center;
    grid-row: repeat(5,200px);
    grid-gap: 5px;
  }

  .linea{
    border-right: 1px #419142 solid;
    height: 30px;
    margin-top: 3px !important;
}

.numeros{
    padding-bottom : 20px ;
    border: 1px #419142 solid;
    background-color:#419142 ;
    color: #ffff;
    justify-content: center;
    font-size: 20px;
    margin: 0;
    display: flex;
}

.numeros li {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.alinear{
    align-items: center !important;
}

.carousel-control {
    padding-top:10%;
    width:5%;
  }

.producN{

    margin-left: 15% !important;
}

.redesSociales{
    margin: 0;
    display: flex;

}
.redesSociales li{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}



.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
    text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: #7ac400;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #7ac400;
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .carousel-control {
	height: 44px;
	width: 40px;
	background: #7ac400;	
    margin: auto 0;
    border-radius: 4px;
	opacity: 0.8;
}
.carousel .carousel-control:hover {
	background: #78bf00;
	opacity: 1;
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
	text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.carousel .carousel-control.left i {
	margin-left: -2px;
}
.carousel .carousel-control.right i {
	margin-right: -4px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}

.linea {
    font: 33px sans-serif;
    margin-top: 30px;
    text-align: center;
  }
  h3.linea {
    position: relative;
    z-index: 1;
  }
 h3.linea:before {
    border-top: 2px solid #122b41;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  h3.linea span {
  
    background: #fff;
    padding: 0 15px;
    color: #419142;
  }
  h3.linea span {
  font-family: 'Yellowtail', serif, system-ui;
  }

  .nosotros{
    font-family: 'Source Serif Pro', serif;
    font-size: 33px;
    margin-right: 30px;
    text-align: center;

  }

.iconos{
    width: 80px !important;
    height: 80px !important;   

}
.text-title-init{
    font-size: 50px;
    color: #419142;
}


.appWhats{
    position: fixed !important; 
    right: 26px !important;
    bottom:50px !important;
    width: 60px !important;
    z-index: 1000 !important;
}

.appWhats img{
    width: 100%;
    height: auto;

}

.texto-optimizador{
    border: 1px solid #419141;
    position: absolute;
    top: 50%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    display: flex;
    background: #419141;
}

.optimizadorText{
 padding-right: 15px;
}

.contenedorImg{
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.contenedorImg img {
    width: 100%;
}

.contend-products-home{
    height: 150px;
}
.container-categorias-icons .categorias-icons a {
    color: grey;
}

.main-container-coments{
    display: grid;
    padding: 0 5%;
    padding-top: 2%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 2%;
}

.cotainer-coments{
    text-align: center;
}

.contenerdor-comentarios-clientes::before{
    content: url("../img/ComillaIzquierda20.png");
    background-repeat: no-repeat;
    left: -9px;
    background-color: #fff;
    top: 5px;
    display: flex;
    position: relative;
    width: 10px;
}

.contenerdor-comentarios-clientes::after{
    content: url("../img/ComillaDerecha20.png");
    /* background-color: ; */
    background-repeat: no-repeat;
    right: -403px;
    background-color: #fff;
    bottom: 5px;
    padding: 0;
    margin: 0;
    width: 10px;
    display: flex;
    position: relative;
}
.content-big{
    height: 171px;
}

.cotainer-coments img{
    width: 25px;
    height: 25px;
}

.contenerdor-comentarios-clientes{
    border:1px solid gray;
}

.descargar{
    margin-left: 30% !important;
}

.comentarios-clientes-tanaño{
    height: 126px;
}

.container-categorias-icons .categorias-icons {
    align-content: baseline;
}


.servicios-card{
    font-size: 16px !important;
    color: white;
    background: gray;
    padding: 0px !important;

}
.noEncontrado{
    width: 600px;
    height:300px
}

@media screen and (max-width: 958px){
    .noEncontrado{
        width: 600px;
        height:300px
    }

    .descargar{
        margin-left: 20% !important;
    }
    .title-index { 
        font-size: xx-large;
    }

    main{
        margin-top: 5% ;
    }
    .producN{
        margin-left: auto !important;
    }
    .pImagen-carrito{
        width: 120px;
        height: 70px;
    }
    .contenedor-carrito{
        margin: 15%;
    }

    table.responsive-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: grid;
        position: relative;
    }
    .content-carrito{
        height: 0px;
    }
    /* productos nuevos */

    .section-contianer-new-produc{
        /* display: grid;  */
        padding: 0 5%;
    }

    .section-contianer-new-produc .container-card{
        /* height: 200px !important; */
        justify-content: center;
        align-content: center;
    }

    .section-contianer-new-produc .container-card img{
        height:200px !important;
        width: 100% !important;
    }
    .iconos{
        width: 50px;
        height: 50px;   
    
    }

    .contend-products-home{
        height: 180px;
    }
    
    .contenerdor-comentarios-clientes::after{
        content: url("../img/ComillaDerecha20.png");
        background-repeat: no-repeat;
        right: -266px;
        background-color: #fff;
        bottom: 5px;
        padding: 0;
        margin: 0;
        width: 10px;
        display: flex;
        position: relative;
    }

    .contenerdor-comentarios-clientes p{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .servicios-card{
        font-size: 12px !important;
        background: gray;
        padding: 0px !important;
    }

}


@media screen and (max-width: 507px) {
    .noEncontrado{
        width: 250px;
        height:150px
    }
    .servicios-card{
        font-size: 12px !important;
        background: gray;
        padding: 0px !important;
    }

    .main-index{ 
        padding-top: 3% ;
    }

    .centrar{
        margin-left: 0% !important;
      }
    .pImagen-carrito{
        width: 50px;
        height: 100%;
    }
    
    .contorno{
        border-bottom: 1px solid #7e7b7b;
    }

    #listaproductos{
        border-bottom: 1px solid #777474;
    }

    .container-contacto{
    grid-template-columns: 1fr ;
    grid-template-areas: "title"
                            "map"
                            "map"
                            "sucursales"
                            "form";
    }

    .hero-container-main{
        border: 1px solid #419142;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "title"
                             "entrega"
                             "pago"
                             /* "tienda " */
                             /* "botonP " */
                             "resumen"
                             "carrito";
        grid-gap: 10px;
        padding: 10px;
        margin-top: 15%;
    }

    .pImagen{
        width: 183px !important;
        height: 183px !important;
      }

    .tamaImagen{
        width: 65%;
        margin-left: 5px;
        margin-right: 0px;
        float: left;
        box-sizing: border-box;
        padding: 0 .75rem;
        min-height: 1px;
        
    }

    .tamaLetras{
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        min-height: 1px;
        font-size: 9px;
    
    }

    .numeros{
        padding-bottom : 20px ;
        border: 1px #419142 solid;
        background-color:#419142 ;
        color: #ffff;
        width: 100%;
        justify-content: center;
        font-size: small;
        margin: 0;    
        display: flex;
    }

    .section-contianer-new-produc{
        display: block; 
        width:100%;
    }

      /* productos nuevos */

      .section-contianer-new-produc{
        /* display: inline;  */
    }

    .section-contianer-new-produc .container-card{
        width: 50%; 
    }

    .section-contianer-new-produc .card-content{
        height: 180px ;
        font-size: initial !important;
    }
    .section-contianer-new-produc .card-content .card-title{
        font-size: 14px !important;
    }
    .section-contianer-new-produc .card-content .text-product{
        font-size: 10px !important;
    }

    .section-contianer-new-produc .container-card img{
        height:150px !important;
        width: 100% !important;
    }
    .categorias-icons{
        /* border: 1px solid red; */
        width: 16.66%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .categorias-icons img {
        display: grid;
        width: 100%;
        padding: 15%;
        align-items: center;
    }
    .categorias-icons h6 {
        font-size: 8px;
        padding: 0 15%;
    }
    .cintilla-text{
        color: #fff;
        font-weight: bold;
        font-size: larger;
    }
    .section_sucursal {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-container-coments{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);

    }

    .contenerdor-comentarios-clientes::after{
        right: -446px;

    }

    .comentarios-clientes-tanaño{
        height: 91px;
    }

    .content-big{
        height: 126px;
    }

    .section-coments{
        padding-bottom: 100px;
    }

    .container-categorias-icons .categorias-icons a{
        font-size: x-small;
        padding: 0 20%;
        display: grid;
        text-align: center;
    }

    .container-prob-inicio{
        padding: 0 0 10%;
    }

    
}

@media Screen and (max-width:411px){
    .noEncontrado{
        width: 250px;
        height:150px
    }
    .contenerdor-comentarios-clientes::after {
        right: -357px;
        background-color: #fff;
    }

    .servicios-card{
        font-size: 12px !important;
        background: gray;
        padding: 0px !important;
    }
}

@media Screen and (max-width:414px){
    .contenerdor-comentarios-clientes::after {
        right: -360px;
        background-color: #fff;
    }

    .servicios-card{
        font-size: 12px !important;
        background: gray;
        padding: 0px !important;
    }
}

@media screen and (max-width:380px){

    .servicios-card{
        font-size: 9px !important;
        background: gray;
        padding: 0px !important;
    }

    main{
        margin-top: 10% ;
    }
    .main-index{ 
        padding-top: 5% ;
    }

    .section_sucursal {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contenedor-carrito {
        margin: 15%;
    }

    .numeros{
        padding-bottom : 20px ;
        border: 1px #419142 solid;
        background-color:#419142 ;
        color: #ffff;
        justify-content: center;
        font-size: 10px;
        margin: 0;
        font-size: inherit;
    }

      /* productos nuevos */

    .section-contianer-new-produc .card-content{
        height: 130px ;
        font-size: initial !important;
    }

    .contenerdor-comentarios-clientes::after {
        right: -330px;
        background-color: #fff;
    }

    .content-big {
        height: 151px;
    }
}

@media screen and (max-width:360px) {
    .contenerdor-comentarios-clientes::after {
        right: -326px;
        background-color: #fff;
    }

    .container-categorias-icons .categorias-icons a {
        font-size: 10px;
        padding: 0 20%;
        display: grid;
        text-align: center;
    }

    .numeros li {
        /* padding: 10px; */
        display: flex;
        justify-content: center;
        align-content: center;
    }
}
